.input-wrapper{
    color: var(--text-color);
    font-size: 16px;
    text-align: start;

    label{
        margin-bottom: 10px;
    }

    .input-content{
        width: 100%;
        display: flex;

        input{
            border: none;
            background-color: var(--gray-secundary-bg);
            padding: 12px 0 12px 20px;
            border-radius: 8px 0 0 8px;
            width: 100%;
        }

        .icon{
            padding: 12px;
            background-color: var(--primary-color);
            border-radius: 0px 8px 8px 0px; 

            img{
                height: 20px;
            }
        }
    }

}
