<main>
    <section class="form-section">
        <img src="/svg/logo.svg" alt="">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">

            <button class="btn-primary" (click)="submit()">{{ primaryButtonText }}</button>
            <div class="divider">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <button class="btn-secundary">{{ secundaryButtonText }}</button>

        </div>
    </section>
    <section class="main-section">
        <h2>You should, MoveIt!</h2>
        <img src="/svg/main-illustration.svg" alt="">
    </section>
</main> 