:root{ 
    --primary-color: #7001fD;
    --secundary-color: #1E2772;
    --text-color: #555555;
    --gray-bg: #EEEEEE;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}